# Symfony directories
/var/
/vendor/
/node_modules/
/public/build/
/.env.local
.env.*.local
/phpunit.xml
/phpunit.xml.dist

# Logs
*.log

# Docker
/docker-compose.override.yml
.env.docker.local

# OS specific
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
