### Symfony ###
/var/
/vendor/
/node_modules/
/.env.local
.env.test.local
.env.dev.local
.env.prod.local
/public/build/
/config/secrets/
/config/jwt/
/phpunit.xml
.phpunit.result.cache

### Docker ###
.docker/
docker-compose.override.yml
docker-compose.override.yaml

### IDEs ###
.idea/
.vscode/

### Mac OS ###
.DS_Store

### Logs ###
/logs/
*.log
